beautifulsoup4==4.15.0
bidict==0.23.1
blinker==1.9.0
certifi==2026.6.17
cffi==2.0.0
charset-normalizer==3.4.7
click==8.4.2
colorama==0.4.6
cortex4py==2.1.0
emoji==2.15.0
Flask==3.1.3
Flask-SocketIO==5.6.1
gevent==26.5.0
greenlet==3.5.3
h11==0.16.0
idna==3.18
ioc_fanger==5.1.1
ioc_finder==9.4.1
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.3
pycparser==3.0
pyparsing==3.3.2
python-engineio==4.13.3
python-magic-bin==0.4.14
python-socketio==5.16.3
requests==2.34.2
simple-websocket==1.1.0
soupsieve==2.8.4
thehive4py==2.1.0
typing==3.7.4.3
typing_extensions==4.16.0
urllib3==2.7.0
Werkzeug==3.1.8
wsproto==1.3.2
zope.event==6.2
zope.interface==8.5
